@import url("reset.css");

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Rock Salt', sans-serif;
    font-size: 25px;
    color: white;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;
    background-image: url(../images/green-slate.jpg);
    background-size: auto;

}

h2{
    padding: 40px 0px 20px 0px;  
    font-size: 30px;  
}

h3{
    padding: 30px 0px 50px 0px;  
    font-size: 50px;  
    font-weight: bold;
    grid-area: top;
}

button{
    font-size: 100px;
    border: 8px solid white;
    background: none;
    line-height: 0px;
    padding: 25px;
    border-radius: 100px;
    text-align: center;
    color: white;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(1);
}

button:first-of-type{
    margin-right: 30px;
}

button:last-of-type{
    margin-left: 30px;
}

footer{
    font-family: sans-serif;
    position: fixed;
    bottom: 12px;
    font-size: 12px;
}

footer>a{
    color: white;
}

#computer_wins, #human_wins{
    padding-top: 60px;
    grid-area: winner;
}

#human_wins{
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 50px;
}

#computer_wins{
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size: 50px;
}

#player_score{
    display: grid;
    grid-template: 30px / 1fr 0.4fr;
    column-gap: 20px;
    align-items: center;
    justify-self: end;
    grid-area: player;
}

#computer_score{
    display: grid;
    grid-template: 30px / 1fr 0.4fr;
    column-gap: 20px;
    align-items: center;
    justify-self: start;
    grid-area: computer;
}

#score{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: auto / 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    "top top top top top"
    ". player . computer ."
    "winner winner winner winner winner"
}

.far{
    height: 110px;
    width: 110px;
}

.loser{
    color: red;
    border-color: red;
}

.winner{
    color: green;
    border-color: green;
}

.draw{
    color: yellow;
    border-color: yellow;
}